server:
  port: 8080

spring:
  application:
    name: scan2login
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 2000ms